html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*========Сброс стилей=============*/

header {
	height: 700px;
	width: 100%;
	/*box-sizing: border-box;*/
	/*display: inline-block;*/
	background-image: url(img/maxresdefault.jpg);
}
#linea {
	border-bottom: 5px solid #eb5635;
	width: 180px;
}
.rgba {
	background-color: rgba(0, 0, 0, 0.5);
}
h3 {
	
	/*width: 301px;*/
	 /**/
	padding-top: 200px; 
	padding-bottom: 30px;
	width: 301px;
	height: 32px;
	color: #ffffff;
	font-family: 'MuseoModerno', cursive;
	font-size: 42px;
	font-weight: 400;
	/*line-height: 58px;*/
	/* Text style for "Clash of C" */
	letter-spacing: 0.84px;
}
h5 {
	width: 569px;
	height: 97px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
	font-weight: 700;
	line-height: 58px;
	/* Text style for "See if you" */
	letter-spacing: 0.84px;
}
#paragraf {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 541px;
	height: 41px;
	color: #c2c2c2;
	font-family: 'MuseoModerno', cursive;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* Text style for "Build your" */
	letter-spacing: 0.36px;
}
.bootons {
	width: 361px;
	display: flex;
	justify-content: space-between;
}
.header {
	padding-left: 300px;
	/*margin-top: 200px;*/
	/*display: flex;*/
}
.booton {
	border-radius: 40px;
	text-align: center;
	line-height: 41px;
	font-family: 'Anton', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.83px;
}
.booton-red {
	color: #fff;
	width: 158px;
	height: 41px;
	background-color: #eb5635;
}
.booton-fff {
	width: 193px;
	height: 41px;
	background-color: #ffffff;
}
.strilca {
	display: flex;
	justify-content: space-around;
	animation-name: стрелка;
	animation-direction: alternate; 
	animation-duration: 0.6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.strilca img {
	padding-top: 90px;
	width: 50px;	
}
@keyframes стрелка {
	0% {
		margin-top: 0;
	}
	100% {
		margin-top: 20px;
	}
}